<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
    rel="stylesheet" />
    
<script src="/js/menu.js" th:src="@{/js/menu.js}"></script>
<script src="/js/jumbo.js" th:src="@{/js/jumbo.js}"></script>
 
<link href="/css/lista.css" th:href="@{/css/lista.css}"
    rel="stylesheet" /> 
    
<link href="/css/headerMenu.css" th:href="@{/css/headerMenu.css}"
    rel="stylesheet" />
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>

</head>


<div class="container" th:replace="includes/header :: menu"></div>
    
<body>

   <div class="lista container">
   <ul  th:each="medico : ${medicos}">
  <li class="list-group-item">
    <span th:text="${medico.crm}">CRM</span>
    <span th:text="${medico.nome}">nome</span>
    <button class="badge" onclick="window.location.href='/medclin/home'">Continue</button>
   </li>
</ul>
  </div>
  <div id="bloco-botao-med" class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-default" onclick="window.location.href='/medclin/medico/cadastro'" >Cadastrar</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>    
  
  <div th:fragment="footer">

		<p class="rodape">
			<img class="img-responsive" src="/img/logo.jpg"
				th:src="@{/img/logo.jpg}" alt="error" />
		</p>

	</div>

</body>
</html>  