<!DOCTYPE html>
    <html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
        <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script th:src="@{js/bootstrap.min.js}"></script>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        
   
        <title>include 2</title>
   
  </head>
     	
        <body>
        <div th:include="menu :: header"></div>
            <div  class="panel-group">
                    <div class="panel panel-default">
                     <div class="panel-heading">
                         <h3 class="panel-title" data-toggle="collapse" data-target="#terceiro-paragrafo" data-parent="#paineis-sobre"></h3>
                            <p>para um novo site!!!</p>
                        </div>  

                        <div id="terceiro-paragrafo" class="collapse">
                            <div class="panel-body">
                            <p>A TopCasa Fina Arquitetura está no mercado desde... </p>
                            <p>ajdando a sociedade curitibana a muito tempo</p>    
                        </div>    
                        </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success"> a success button</button>
                                    <button type="button" class="btn btn-warning">This is a warning button</button>
                                    <button type="button" class="btn btn-danger">This is a danger button</button>
                                </div>
                </div>
        
                
            </div>
           
        </body>            
</html>
        
        