<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
<title>Insert title here</title>

    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet" />
    
    <link href="/css/headerMenu.css" th:href="@{/css/headerMenu.css}" 
          rel="stylesheet" />
    
    </head>
<body>

<a href="medicos.html"><p>2016  Tribunal Regional do Trabalho da 9a região</p></a>
                
 <p class="container">
  <a class="med" href="/home"> <img src="img/band.png"
                             th:src="@{img/band.png}" alt="img error"/> </a>
 </p>       

</body>
</html>