	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/08/2016 08:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-ambulance:before { content: "\f100"; }
.flaticon-band-aid:before { content: "\f101"; }
.flaticon-dna:before { content: "\f102"; }
.flaticon-first-aid-kit:before { content: "\f103"; }
.flaticon-heart:before { content: "\f104"; }
.flaticon-hospital:before { content: "\f105"; }
.flaticon-injury:before { content: "\f106"; }
.flaticon-lungs:before { content: "\f107"; }
.flaticon-medical-history:before { content: "\f108"; }
.flaticon-medicine:before { content: "\f109"; }
.flaticon-medicine-1:before { content: "\f10a"; }
.flaticon-medicine-2:before { content: "\f10b"; }
.flaticon-nurse:before { content: "\f10c"; }
.flaticon-pill:before { content: "\f10d"; }
.flaticon-surgeon:before { content: "\f10e"; }
.flaticon-syringe:before { content: "\f10f"; }
.flaticon-thermometer:before { content: "\f110"; }
.flaticon-tooth:before { content: "\f111"; }
.flaticon-transfusion:before { content: "\f112"; }
.flaticon-wheelchair:before { content: "\f113"; }